{% load static %}
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/css/main.css" />
  </head>
  <body>
    <div>
      <a href="main">
      <img
        src="{% static 'app/images/banner.jpeg' %}"
        width="100%"
        height="50%"
        style="object-fit: cover; filter: brightness(40%)"
        alt="banner"
      />
      <div class="sign-out">
      <a
        href="main"
        class="home-btn"
        >
          Home
      </a>
      {% if is_admin %}
      <a
        href="main"
        class="options-btn"
        >
          Analytics
      </a>
      {% endif %}
      <form method="POST" style="margin:0;">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{user}}" />
        <button
          onclick="return confirm('Are you sure you want to sign out');"
          type="submit"
          name="action"
          value="delete"
          class="options-btn"
        >
          Sign Out
        </button>
      </form>
    </div>
      <div class="header-container">
        <div class="header-text">Skyward Atlas</div>
        <div class="header-body">Your one stop booking facility</div>
      </div>
    </div>
  </a>
    <br />
    <div class="booking-header">Booking Overview</div>
    <br />
    <table border="1" style="width: 60%" class="center">
      <thead>
        <th colspan="2">Booking Count by Venue</th>
      </thead>
      <thead>
        <th>Venue</th>
        <th style="width: 50%">No. of Bookings</th>
      </thead>
      {% for venue in booking_count %}
      <tr>
        <td>{{venue.0}}</td>
        <td>{{venue.1}}</td>
      </tr>
      {% endfor %}
    </table>
    <br />
    <table border="1" style="width: 60%" class="center">
      <thead>
        <th colspan="2">Least Booked Venue</th>
      </thead>
      <thead>
        <th>Venue</th>
        <th style="width: 50%">No. of Bookings</th>
      </thead>
      {% for venue in least_booked %}
      <tr>
        <td>{{venue.0}}</td>
        <td>{{venue.1}}</td>
      </tr>
      {% endfor %}
    </table>
    <br />
    <table border="1" style="width: 60%" class="center">
      <thead>
        <th colspan="2">Most Booked Venue</th>
      </thead>
      <thead>
        <th>Venue</th>
        <th style="width: 50%">No. of Bookings</th>
      </thead>
      {% for venue in most_booked %}
      <tr>
        <td>{{venue.0}}</td>
        <td>{{venue.1}}</td>
      </tr>
      {% endfor %}
    </table>
    <br />
    <table border="1" style="width: 60%" class="center">
      <thead>
        <th colspan="3">Resident with Most Bookings</th>
      </thead>
      <thead>
        <th>Full Name</th>
        <th style="width: 33%;">Unit No.</th>
        <th style="width: 33%">No. of Bookings</th>
      </thead>
      {% for resident in most_resident %}
      <tr>
        <td>{{resident.0}} {{resident.1}}</td>
        <td>#{{resident.2}}</td>
        <td>{{resident.3}}</td>
      </tr>
      {% endfor %}
    </table>
    <br />
    <table border="1" style="width: 60%" class="center">
      <thead>
        <th colspan="2">Resident with no Bookings</th>
      </thead>
      <thead>
        <th>Full Name</th>
        <th style="width: 50%;">Unit No.</th>
      </thead>
      {% for resident in never_booked_resident %}
      <tr>
        <td>{{resident.0}} {{resident.1}}</td>
        <td>#{{resident.2}}</td>
      </tr>
      {% endfor %}
    </table>
    <br />
    <table border="1" style="width: 60%" class="center">
      <thead>
        <th colspan="3">Last Created User (incl. admins)</th>
      </thead>
      <thead>
        <th>Full Name</th>
        <th style="width: 33%;">Resident ID</th>
        <th style="width: 33%;">Unit No.</th>
      </thead>
      {% for user in latest_user %}
      <tr>
        <td>{{user.1}} {{user.2}}</td>
        <td>{{user.3}}</td>
        <td>#{{user.0}}</td>
      </tr>
      {% endfor %}
    </table>
    <br />
  </body>
</html>
